.contact-finish__title {
    color: #FFEA2E;
    font-size: rem(40);
    opacity: 0.3;
    margin-bottom: rem(80);

    @include mq(md){
font-size: rem(60);
    }
}

.pcontact-finish__text{
    letter-spacing: 0.02em;

    @include mq(md){
        font-size: rem(30);
    }
}