.blogdetail-detail__top {
  position: relative;
}

.blogdetail-detail__box {
  padding-top: rem(32);
  margin-top: rem(54);
  border: 1px solid #fff;
}

.blogdetail-detail__header {
  position: absolute;
  top: rem(-21);
  left: rem(24);
  display: inline;
  border: 1px solid #fff;
  border-radius: 50px;
  padding-top: rem(8);
  padding-left: rem(24);
  padding-right: rem(24);
  padding-bottom: rem(8);
  background-color: #000;
}

.blogdetail-detail__text {
  letter-spacing: 0.04em;
  padding-top: rem(20);
  padding-left: rem(10);
  padding-right: rem(10);
  padding-bottom: rem(35);
}
