// businessページ
.business-menu {
  color: #fff;
  padding-left: rem(20);
  margin-top: rem(16);
}

// 下記の記述があるとPCでflexした際に消える
// .business__img {
//   padding-top: 69.786096256684491979%;
//   position: relative;
// }

// .business__img img {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }


.business__box {
  color: #fff;
  margin-bottom: rem(41);
  letter-spacing: 2px;
  padding-left: rem(20);
  padding-right: rem(20);

  @include mq(md) {
    padding-top: rem(67);
    padding-left: 0;
  }

}


.business-title {
  font-size: rem(20);
  font-weight: 400;
  text-align: center;
  letter-spacing: rem(2);
  
  @include mq(md) {
    text-align: center;
    font-size: rem(25);
    letter-spacing: rem(0.5);
  }
}

.business-title__left {
  @include mq(md) {
    text-align: left;
  }
}

.business-title__left-first {
  padding-left: rem(5);

  @include mq(md) {
    padding-left: 0;
  }
}

.business-text__pc {
  @include mq(md) {
    line-height: 2.1875;
    text-align: center;
    padding-left: rem(22);
  }
}

.business-text__pc--box {

  @include mq(md) {
    padding-top: rem(24);
  }
}

.business__contents {
  @include mq(md) {
    margin-top: rem(148);
    margin-bottom: rem(150);
  }
}

.business__wrapper-img {
  position: relative;
  padding-top: 69.7860%;

  @include mq(md) {
    padding-top: 66.7272%;
  }
}

.business__wrapper-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.business__wrapper {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    padding-top: rem(104);
  }
}

.business__wrapper+.business__wrapper {
  margin-top: rem(8);

  @include mq(md) {
    margin-top: 0;
  }
}

.business__wrapper:first-child {
  @include mq(md) {
    padding-top: 0;
  }
}

.business__wrapper:nth-child(even) {
  flex-direction: row-reverse;
}

.business__img {
  @include mq(md) {
    width: 50%;
    height: auto;
  }
}

.business-text {
  font-size: rem(16);
  padding-top: rem(23);
  padding-bottom: rem(48);
  letter-spacing: rem(2);
  line-height: 1.4;

  @include mq(md) {
    padding-top: rem(29);
    letter-spacing: 0.5px;
    line-height: 2.1875;
  }
}

.business__box--bottom {
  color: #fff;
  letter-spacing: 0.2em;
  margin-top: rem(24);
  padding-left: rem(20);
  padding-right: rem(20);

  @include mq(md) {
    margin-top: rem(10);
    width: 47.3%;
    height: auto;
    padding-left: rem(0);
    padding-right: rem(0);

  }
}


.mt-72 {
  margin-top: rem(72);
}

.mt-69 {
  margin-top: rem(69);
}

.breadcrumb {
  margin-top: rem(12);
  padding-right: rem(20);

  @include mq(md) {
    text-align: left;
    padding-left: rem(90);
  }
}

.breadcrumb__item-box {
  letter-spacing: rem(1);

  @include mq(md) {}
}

.breadcrumb__item {
  color: #fff;
  display: inline;
}

.breadcrumb__item:after {
  content: '>';
  padding-left: rem(1);
  padding-right: rem(1);
  color: #fff;
}

.breadcrumb__item:last-child:after {
  content: '';
}

.breadcrumb__contact-error {
  margin-top: rem(19);

  @include mq(md) {
    margin-top: rem(12);
  }
}