// company

.company {
  background-color: #000;
}

.company__wrapper {
  color: #fff;
  padding-bottom: rem(120);

  @include mq(md) {
    padding-top: rem(27);
    padding-bottom: rem(79);
  }
}



.company__content {
  font-size: rem(13);
  display: flex;
  border-bottom: 1px solid #fff;
}

.company__content-pc {
  display: none;

  @include mq(md) {
    display: block;
    display: flex;
  }
}

.company__content-sp {
  @include mq(md) {
    display: none;
  }
}

.company__header {
  padding-top: rem(18);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(33);
    padding-bottom: rem(28);
    line-height: 1.3125;
  }
}

.company__header--company_name {
  padding-left: rem(5);
  min-width: rem(114);
  padding-top: rem(16);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(31);
    padding-left: rem(2);
    min-width: rem(154);
  }
}

.company__header--foundation {
  padding-top: rem(18);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(33);
    padding-left: rem(2);
    padding-bottom: rem(28);
    line-height: 1.3125;
    min-width: rem(154);
  }
}

.company__header--capital {
  padding-top: rem(16);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(35);
    padding-left: rem(2);
    padding-bottom: rem(24);
    line-height: 1.3125;
    min-width: rem(154);
  }
}

.company__header--sales {
  padding-top: rem(11);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(41);
    padding-left: rem(2);
    padding-bottom: rem(28);
    line-height: 1.3125;
    min-width: rem(154);
  }
}

.company__header--represent {
  padding-top: rem(13);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(37);
    padding-left: rem(2);
    padding-bottom: rem(26);
    line-height: 1.3125;
    min-width: rem(154);
  }
}

.company__header--employee {
  padding-top: rem(15);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(36);
    padding-left: rem(2);
    padding-bottom: rem(28);
    line-height: 1.3125;
    min-width: rem(154);
  }
}

.company__header--business_detail {
  padding-top: rem(15);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(36);
    padding-left: rem(2);
    padding-bottom: rem(27);
    line-height: 1.3125;
    min-width: rem(154);
  }
}

.company__header--address {
  padding-top: rem(15);
  padding-left: rem(5);
  min-width: rem(114);

  @include mq(md) {
    font-size: rem(16);
    padding-top: rem(36);
    padding-left: rem(2);
    padding-bottom: rem(28);
    line-height: 1.3125;
    min-width: rem(154);
  }
}

.company__footer {
  min-width: rem(221);
  padding-top: rem(19);
  padding-bottom: rem(20);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(30);
    padding-bottom: rem(28);
  }
}

.company__footer--company_name {
  min-width: rem(221);
  padding-top: rem(20);
  padding-bottom: rem(19);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(33);
    padding-bottom: rem(28);
    letter-spacing: rem(1);
  }
}

.company__footer--foundation {
  min-width: rem(221);
  padding-top: rem(19);
  padding-bottom: rem(21);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(30);
    padding-bottom: rem(28);
    letter-spacing: rem(1);
  }
}

.company__footer--capital {
  padding-top: rem(18);
  padding-bottom: rem(18);
  min-width: rem(221);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(30);
    padding-bottom: rem(26);
    letter-spacing: rem(1);
  }
}

.company__footer--sales {
  min-width: rem(221);
  padding-top: rem(14);
  padding-bottom: rem(20);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(34);
    padding-bottom: rem(28);
    letter-spacing: rem(1);
  }
}

.company__footer--represent {
  min-width: rem(221);
  padding-top: rem(14);
  padding-bottom: rem(19);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(33);
    padding-bottom: rem(25);
    letter-spacing: rem(1);
  }
}

.company__footer--employee {
  min-width: rem(221);
  padding-top: rem(17);
  padding-bottom: rem(20);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(34);
    padding-bottom: rem(28);
    letter-spacing: rem(1);
  }
}

.company__footer--business_detail {
  min-width: rem(221);
  padding-top: rem(15);
  padding-bottom: rem(23);
  line-height: 1.84615;

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(34);
    padding-bottom: rem(27);
    letter-spacing: rem(1);
  }
}

.company__footer--address {
  min-width: rem(221);
  padding-top: rem(15);
  padding-bottom: rem(19);

  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    padding-top: rem(34);
    padding-bottom: rem(28);
    letter-spacing: rem(1);
  }
}


.pt-24 {
  padding-top: rem(15);
}

.pt-17 {
  padding-top: rem(17);
}

.pt-14 {
  padding-top: rem(14);
}

.pt-11 {
  padding-top: rem(11);
}


.company__map {
  padding-bottom: rem(121);

  @include mq(md) {
    padding-bottom: rem(42);
  }

}

.company__iframe {
  aspect-ratio: 375 / 300;
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 1100 / 367;
  }
}

.company__iframe iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}