.blog-list {
  background-color: #fff;
}

.blog-list__contents {

  // margin-top: rem(-22);

  @include mq(md) {
    margin-top: rem(-24);
    display: flex;
    flex-wrap: wrap;
  }
}



.blog-list__new-icon {
  position: absolute;
  top: rem(-16);
  left: rem(-18);
  width: rem(60);
  height: rem(60);
  border-radius: 50px;
  color: #000;
  background-color: #FFBA6A;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  z-index: 10;

  @include mq(md) {
    top: rem(-18);
    left: rem(-15);
  }
}

// .card.blog-list__card {

//   @include mq(md) {
// margin-top: rem(48);
//   }
// }