.contact-error__alert {
  font-size: rem(16);
  letter-spacing: rem(2);
  color: #FF5757;
  text-align: center;
  padding-top: rem(23);
}

.contact-page__wrapper.contact-error__wrapper {
  padding-top: rem(31);
}
