.contact-box__title {
  position: absolute;
  top: 16%;
  font-family: 'Noto Serif JP', serif;
  font-size: rem(50);
  font-weight: 400;
  color: #F9F871;
  opacity: 0.2;
  text-align: center;
  letter-spacing: rem(2);
  top: -59%;

  @include mq(md) {
    font-size: rem(110);
    transform: unset;
    top: 23%;
  }
}

.contact-box__sub-title.contact-box__sub-title--contact-page{
  font-size: rem(25);
  letter-spacing: rem(2);
}

.contact-box__title--left {
  padding-left: rem(66);

  @include mq(md) {
    ext-align: left;
    padding-left: rem(88);
  }
}

.contact-box__sub-title {
  position: absolute;
  transform: translateX(-50%);
  font-size: rem(20);
  letter-spacing: rem(2);
  bottom: 0;

  @include mq(md) {
    padding-bottom: rem(28);
    font-size: rem(30);
    letter-spacing: rem(0.5);
    bottom: -39px;
  }
}