.content {
  margin-top: rem(129);
}

.content__items {
  display: flex;
}

.content__item {
  position: relative;
}

.content__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(25);
}
