.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1280px;
    padding-right: 90px;
    padding-left: 90px;
  }
}

.l-inner__business {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .l-inner__business {
    padding-right: 90px;
    padding-left: 90px;
  }
}

.l-inner--blog {
  padding-left: 1.375rem;
  padding-right: 1.25rem;
}

.l-inner--introduction {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-inner--introduction {
    padding-left: 0;
    padding-right: 0;
  }
}
