.overview {
  color: #fff;
  text-align: center;
  padding-top: rem(89);

  @include mq(md) {
    padding-top: rem(119);
  }

}

.overview__title {}

.overview__content {

  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(90deg, #333 0%, #333 70%, transparent 70%, transparent 100%);
    padding-top: rem(81);
    padding-right: rem(90);
    padding-bottom: rem(81);
  }
}

.overview__bottom {
  color: white;
  background-color: #333;
  text-align: center;
  padding-left: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(21);

  @include mq(md) {
    width: 53.193277310924369748%;
  }
}

.overview__bottom--right {
  @include mq(md) {
    padding-left: rem(90);
    padding-right: rem(33);
  }
}

.contents__title {}

.contents__title-overview {}

.overview__btn {
  margin-top: rem(21);

  @include mq(md) {
    width: 100%;
    max-width: rem(360);
    margin-top: rem(49);
  }
}