.pagination__header {
  border: 1px solid #fff;
  box-sizing: border-box;
  padding-left: rem(12);
  padding-right: rem(11);
  letter-spacing: rem(2);
}

.pagination__header--prev {
  margin-right: rem(14);
}

.pagination__header--next {
  padding-left: rem(12);
  padding-right: rem(10);
  margin-left: rem(14);
}

.pagination__center {
  border: 1px solid #fff;
  padding-top: rem(3);
  padding-left: rem(8);
  padding-right: rem(7);
  padding-bottom: rem(5);
  margin-left: rem(7);
  margin-right: rem(7);
  line-height: 1.0126582278481012658;
}

.pagination__footer {
  border: 1px solid #fff;
  padding-left: rem(13);
  padding-right: rem(13);
  letter-spacing: 0.2em;
}

.pagination__header:hover {
  color: #333;
  background-color: #fff;
}

.pagination__center:hover {
  color: #333;
  background-color: #fff;
}
