.pc-nav__items {
  display: flex;
  align-items: center;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
