/* 前ページ、次ページボタン共通のスタイル */
.swiper-button-prev,
.swiper-button-next {
  width: rem(30);
  /* ボタンの幅 */
  height: rem(30);
  /* ボタンの高さ */
  background-size: 30px 30px;
  /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
  margin-top: rem(-17);
  /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}

/* 次ページボタンのスタイル */
.swiper-button-next {
  background-image: url(/src/images/common/swiper/btn-right.png);
  /* 左右反転 */
}

/* 前ページボタンのスタイル */
.swiper-button-prev {
  background-image: url(/src/images/common/swiper/btn-left.png);
}