.works {
  color: #fff;
  text-align: center;

  @include mq(md) {
    padding-top: rem(48);
  }
}



.works__img {
  padding-top: 69.838420107719928187%;
  position: relative;
}

.works-img__img {
  position: relative;
}

.works-img__img::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #111;
  opacity: 0.2;
  top: 0;
  left: 0;
}




.works__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works__btn {
  margin-top: rem(-4);
  text-align: center;

  @include mq(md) {
    width: 100%;
    margin-top: rem(24);
    max-width: rem(360);
  }
}




.works-position {
  bottom: 0px;

  @include mq(md) {
    bottom: 5px;
  }
}

.works__bottom {
  color: white;
  background-color: #333;
  text-align: center;
  padding-left: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(21);

  @include mq(md) {
    width: 53.193277310924369748%;
    padding-top: rem(26);
    padding-left: rem(32);
    padding-right: rem(91);
  }
}

// .works-contents__bottom {

//   @include mq(md) {
//     padding-top: rem(26);
//     padding-left: rem(32);
//     padding-right: rem(91);
//     background-color: inherit;

//   }
// }

// .works__title {
//   font-size: rem(20);
//   letter-spacing: 2px;
//   padding-left: rem(19);

//   @include mq(md) {
//     text-align: left;
//     font-size: rem(25);
//     letter-spacing: 0.5px;
//     padding-left: rem(0);
//   }
// }